<div class="container mx-auto">
  <div class="flex justify-center">
    <div class="bg-white shadow-lg rounded-lg p-12 w-full max-w-md text-center my-10 border-b-4 border-green-600">
      <i class="fa fa-check-circle text-green-600 text-5xl"></i>
      <h2 class="mt-4 text-3xl font-medium text-gray-800 mb-3">Your payment was successful</h2>
      <p class="text-lg font-medium text-gray-600">Thank you for your payment. We will <br> be in contact with more details shortly.</p>
      <%= link_to 'Checkout', my_orders_path, class: "rounded-md px-3 py-2 text-sm font-medium text-black hover:bg-gray-200 hover:text-black" %>
    </div>
  </div>
  <hr class="my-6">
</div>
